.product{
    display:flex ; 
    margin-bottom:10px;
    padding:5px;
    border-bottom : 1px solid gray ;
    margin-right : 10px;
    margin-left: 20px;
}
.product-name {
    color : blue;
    font-weight:700;
}
.product-details {
    padding : 10px;
    margin-left : 10px !important;
}
.main-button {
    background-color:goldenrod;
    width:150px;
    height:30px;
    color:white;
    border-radius:10px;
    font-weight: 700;
    font-size:17px;
    padding:5px;
    cursor:pointer;
}