.header img {
    height : 80px; 
    margin-top: 20px;
}
.header {
    text-align:center;
}
nav {
    background-color: black;
    line-height: 50px;
}
nav a {
    text-decoration: none;
    color:white;
    margin-left:10px;
    padding:10px;
    font-weight : 700;
    font-size : 20px;
}
nav a:hover {
   background-color: gray;

}